.content {
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 100px auto;
  height: 100vh;
  width: 100vw;
  background-color: black;
  overflow: hidden;
}

nav {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  border-bottom: 1px solid rgba(158, 158, 158, 0.212);
  display: flex;
  justify-content: center;
  align-items: center;
}

nav button {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.623);
  border: none;
  transition: all ease-in .25s;
  margin: 0 10px;
  border: 1px solid transparent;
}

nav button:hover {
  color: rgb(66, 44, 187);
  border: 1px solid rgb(66, 44, 187);
  border-radius: 6px;
}

.ether {
  color: rgba(250, 235, 215, 0.445);
}



/* Pages */
#wrapper {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  position: relative;
  height: 100%;
  width: 100%;
}

.page {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all ease-in 1s;
}


/* Home Page */
#home {
  background-color: black;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.box {
  width: 1080px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  
}

.square {
  width: 800px;
  height: 800px;
  border-radius: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: -webkit-linear-gradient(45deg, rgb(255, 255, 255), rgb(17, 33, 255));
  filter: opacity(.4);
  z-index: 1;
  animation: slideup 20s infinite linear;
}

@keyframes slideup {
  from {
    transform: translateY(150%)  translateX(10%);
  }

  to {
    transform: translateY(-150%)  translateX(10%);
  }
}

#myself {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}

#myself h1 {
  font-size: 5rem !important;  
  color: #f2f7ff;
  background: -webkit-linear-gradient(45deg, rgb(47, 110, 226), rgb(255, 255, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


#logo {
  width: 100%;
  height: auto;
}

#logo-box {
  display: flex;
  align-items: center;
  width: 500px;
  height: 500px;
  background: url('./img/dog.png');
  background-size: cover;
  background-repeat: no-repeat;
  transition: all ease-in 1s;
  transform: rotate(0);
  border-radius: 50% !important;
  /* border: 2px solid white; */
  border: 10px solid !important;
  border-image-slice: 1 !important;
  border-width: 5px !important;
  border-image-source: radial-gradient(circle at top left, rgba(255, 0, 0, 0), #e520ff, rgb(66, 44, 187)) !important;
  z-index: 2;
}


.logo-box-animate {
  transform: rotate(90deg) !important;
  filter: opacity(.1);
}

#logo-box ul {
  transform: translateX(100%);
  width: 500px;
  list-style: none;
}


/* About Page */
#about {
  background-color: transparent;
  width: 100%;
  height: 100%;
  transform: translateX(100%);
}

/* Social */
#social {
  z-index: 2;
  background-color: transparent;
  width: 100%;
  text-align: right;
}

#social i {
  padding-left: 1rem;
  font-size: 1.3rem;
  color: rgba(250, 235, 215, 0.507);
  transition: all ease .35s;
}

#social i:hover {
  transform: scale(1.2);
  color: #ff20b5;
}

#social a {
  display: inline-block;
}